{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load i18n %}
<head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}Company{% endblock %}</title>
  <meta content="{% block description %} Company description {% endblock %}" name="description">
  <meta content="{% block  keywords %} Company keyword {% endblock %}" name="keywords">
  <meta content="{% block author %}Sanlygalam IE {% endblock %}" name="Author">
  <!-- Favicons -->
  <link href="{% static "assets/img/favicon.png"%}" rel="icon">
  <link href="{% static "assets/img/apple-touch-icon.png"%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
  <link href="{% static "assets/vendor/icofont/icofont.min.css"%}" rel="stylesheet">
  <link href="{% static "assets/vendor/boxicons/css/boxicons.min.css"%}" rel="stylesheet">
  <link href="{% static "assets/vendor/animate.css/animate.min.css"%}" rel="stylesheet">
  <link href="{% static "assets/vendor/venobox/venobox.css"%}" rel="stylesheet">
  <link href="{% static "assets/vendor/owl.carousel/assets/owl.carousel.min.css"%}" rel="stylesheet">
  <link href="{% static "assets/vendor/aos/aos.css"%}" rel="stylesheet">
  <link href="{% static "assets/vendor/remixicon/remixicon.css"%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "assets/css/style.css"%}" rel="stylesheet">
</head>
<body>
    {% include 'home/header.html' %}
    {% block body %}{% endblock %}
    {% include 'home/footer.html' %}


    <!-- Vendor JS Files -->
   
  <script src="{% static "assets/vendor/jquery/jquery.min.js"%}"></script>
  <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>
  <script src="{% static "assets/vendor/jquery.easing/jquery.easing.min.js"%}"></script>
  <script src="{% static "assets/vendor/php-email-form/validate.js"%}"></script>
  <script src="{% static "assets/vendor/jquery-sticky/jquery.sticky.js"%}"></script>
  <script src="{% static "assets/vendor/isotope-layout/isotope.pkgd.min.js"%}"></script>
  <script src="{% static "assets/vendor/venobox/venobox.min.js"%}"></script>
  <script src="{% static "assets/vendor/waypoints/jquery.waypoints.min.js"%}"></script>
  <script src="{% static "assets/vendor/owl.carousel/owl.carousel.min.js"%}"></script>
  <script src="{% static "assets/vendor/aos/aos.js"%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "assets/js/main.js"%}"></script>
 
</body>
</html>