{% extends 'home/homebase.html' %}
{% load hometags %}
{% block body %}
{% load i18n %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{% trans "Services"%}</h2>
          <ol>
            <li><a href="{% url 'home:service' %}">{% trans "Home"%}</a></li>
            <li>{% trans "Services"%}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    
    
    <!-- ======= Services Section ======= -->
    {% servicetag as service %}
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% trans "Services"%}</strong></h2>
        </div>

        <div class="row mx-auto col-lg-6 col-md-6 col-sm-12">
         {% for s in service %}
          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="300" onclick="myFunction({{s.id}})">
            <div class="icon-box iconbox-teal" >
              <img src="{{s.image.url}}" alt="{{s.title}}">
                <h4 style="color:black">{{s.title}}</h4>
            </div>
          </div>
          {% endfor %}
        </div>

{% for s in service %}
<div class=" {% if forloop.first %} show {% else %} collapse  {% endif %}" id="{{s.id}}">
          
 
  {% show_service s.id %}
   
     
</div>
{% endfor %}
         

 
        
      

      </div>
    </section><!-- End Services Section -->


  </main><!-- End #main -->
 
  <script>

    function myFunction(san) {
     {% for service in services %} 
      var x = document.getElementById({{service.id}});
      if ({{service.id}}!=san) {
        x.style.display = "none";
      } 
      else{
        if(x.style.display=="none")
        {x.style.display="block";}
        else{
          x.style.display="none";
        }
      }
      {% endfor %}
    
    }
    
    
    
    </script>
  
{% endblock %}
